In [142]:
import pandas as pd
from census_api import census_df
from scrape_realtor import realtor_df

In [143]:
state_abrevs=pd.read_json('state_abrev.json', dtype="str")
state_abrevs

                   State  Abbrev Code
0                Alabama    Ala.   AL
1                 Alaska  Alaska   AK
2                Arizona   Ariz.   AZ
3               Arkansas    Ark.   AR
4             California  Calif.   CA
5               Colorado   Colo.   CO
6            Connecticut   Conn.   CT
7               Delaware    Del.   DE
8   District of Columbia    D.C.   DC
9                Florida    Fla.   FL
10               Georgia     Ga.   GA
11                Hawaii  Hawaii   HI
12                 Idaho   Idaho   ID
13              Illinois    Ill.   IL
14               Indiana    Ind.   IN
15                  Iowa    Iowa   IA
16                Kansas   Kans.   KS
17              Kentucky     Ky.   KY
18             Louisiana     La.   LA
19                 Maine   Maine   ME
20              Maryland     Md.   MD
21         Massachusetts   Mass.   MA
22              Michigan   Mich.   MI
23             Minnesota   Minn.   MN
24           Mississippi   Miss.   MS
25              Missouri     Mo.   MO
26               Montana   Mont.   MT
27              Nebraska   Nebr.   NE
28                Nevada    Nev.   NV
29         New Hampshire    N.H.   NH
30            New Jersey    N.J.   NJ
31            New Mexico    N.M.   NM
32              New York    N.Y.   NY
33        North Carolina    N.C.   NC
34          North Dakota    N.D.   ND
35                  Ohio    Ohio   OH
36              Oklahoma   Okla.   OK
37                Oregon    Ore.   OR
38          Pennsylvania     Pa.   PA
39          Rhode Island    R.I.   RI
40        South Carolina    S.C.   SC
41          South Dakota    S.D.   SD
42             Tennessee   Tenn.   TN
43                 Texas    Tex.   TX
44                  Utah    Utah   UT
45               Vermont     Vt.   VT
46              Virginia     Va.   VA
47            Washington   Wash.   WA
48         West Virginia   W.Va.   WV
49             Wisconsin    Wis.   WI
50               Wyoming    Wyo.   WY

In [144]:
realtor_df["State"] = realtor_df["State"].str.upper().str.replace(" ", "")
realtor_df["County"] = realtor_df["County"].str.capitalize()
realtor_df.head()

,County,State,month_date_yyyymm,county_fips,median_listing_price,active_listing_count,median_days_on_market,new_listing_count,price_increased_count,price_reduced_count,pending_listing_count,median_listing_price_per_square_foot,median_square_feet,average_listing_price,total_listing_count,pending_ratio,quality_flag,Code
0,Burleigh,ND,202208,38015,382450,225,39,136,0,80,238,170,2212,464139,464,1.0578,0,ND
1,Walthall,MS,202208,28147,169250,13,51,4,0,4,2,92,2181,251766,15,0.1538,1,MS
2,Pulaski,IL,202208,17153,84700,9,67,4,0,4,4,62,1474,87918,13,0.4444,0,IL
3,Petersburg city,VA,202208,51730,194995,117,36,84,4,60,125,140,1406,217184,243,1.0684,1,VA
4,Houghton,MI,202208,26061,254450,50,37,36,0,16,42,122,1761,352869,95,0.84,1,MI

In [145]:
realtor_df= pd.merge(realtor_df, state_abrevs, how='left', left_on="State", right_on="Code")
realtor_df

,County,State_x,month_date_yyyymm,county_fips,median_listing_price,active_listing_count,median_days_on_market,new_listing_count,price_increased_count,price_reduced_count,...,median_listing_price_per_square_foot,median_square_feet,average_listing_price,total_listing_count,pending_ratio,quality_flag,Code_x,State_y,Abbrev,Code_y
0,Burleigh,ND,202208,38015,382450,225,39,136,0,80,...,170,2212,464139,464,1.0578,0,ND,North Dakota,N.D.,ND
1,Walthall,MS,202208,28147,169250,13,51,4,0,4,...,92,2181,251766,15,0.1538,1,MS,Mississippi,Miss.,MS
2,Pulaski,IL,202208,17153,84700,9,67,4,0,4,...,62,1474,87918,13,0.4444,0,IL,Illinois,Ill.,IL
3,Petersburg city,VA,202208,51730,194995,117,36,84,4,60,...,140,1406,217184,243,1.0684,1,VA,Virginia,Va.,VA
4,Houghton,MI,202208,26061,254450,50,37,36,0,16,...,122,1761,352869,95,0.84,1,MI,Michigan,Mich.,MI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3101,Oneida,ID,202208,16071,279900,26,59,8,0,12,...,159,2110,423895,37,0.3462,1,ID,Idaho,Idaho,ID
3102,St. joseph,MI,202208,26149,232000,103,42,64,0,52,...,128,1850,305506,204,0.9806,0,MI,Michigan,Mich.,MI
3103,Wheeler,TX,202208,48483,139900,20,45,8,0,0,...,99,1414,139790,29,0.45,0,TX,Texas,Tex.,TX
3104,Christian,KY,202208,21047,195000,85,32,80,0,36,...,126,1599,217868,195,1.2941,0,KY,Kentucky,Ky.,KY
3105,Charles,MD,202208,24017,482450,366,34,272,24,184,...,203,2296,508338,708,0.929,0,MD,Maryland,Md.,MD

In [146]:
census_df['County'] = census_df['County'].str.replace("County", "")

print(census_df.head())

     County     State  Total:  Total:Population of one race:  \
0  Autauga    Alabama   58805                          55648
1  Baldwin    Alabama  231767                         216743
2  Barbour    Alabama   25223                          24523
3     Bibb    Alabama   22293                          21534
4   Blount    Alabama   59134                          55478

   Total:Population of one race:White alone  \
0                                     42160
1                                    189399
2                                     11317
3                                     16555
4                                     50663

   Total:Population of one race:Black or African American alone  \
0                                              11445
1                                              18217
2                                              11933
3                                               4413
4                                                845

   Total:Population of one race:American Indian and Alaska Native alone  \
0                                                217
1                                               1582
2                                                116
3                                                 60
4                                                337

   Total:Population of one race:Asian alone  \
0                                       881
1                                      2067
2                                       117
3                                        32
4                                       178

   Total:Population of one race:Native Hawaiian and Other Pacific Islander alone  \
0                                                 35
1                                                143
2                                                  1
3                                                  9
4                                                 24

   Total:Population of one race:Some Other Race alone  \
0                                                910
1                                               5335
2                                               1039
3                                                465
4                                               3431

   Total:Population of two or more races:  Total:Hispanic or Latino
0                                    3157                      2117
1                                   15024                     12686
2                                     700                      1510
3                                     759                       740
4                                    3656                      5771