In [1]:
import pandas as pd
from census_api import census_df
from scrape_realtor import realtor_df

/Users/miguelrondon/Desktop/CODE/Data Projects/Real-Estate-By-Census/scrape_realtor.py:35: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  realtor_df = pd.read_csv(

In [2]:
state_abrevs=pd.read_json('state_abrev.json', dtype="str")

In [3]:
if len(realtor_df["month_date_yyyymm"].unique()) == 1: 
    realtor_df["State"] = realtor_df["State"].str.upper().str.replace(" ", "")
    realtor_df["County"] = realtor_df["County"].str.capitalize()
    realtor_df = pd.merge(realtor_df, state_abrevs, how='left',
                      left_on="State", right_on="Code")
    realtor_df["state"] = realtor_df["State_y"]
    realtor_df = realtor_df.drop(['State_x', 'State_y', 'Abbrev'], axis=1)
    realtor_df.columns = realtor_df.columns.str.lower()
    #as_of_month_year = realtor_df["month_date_yyyymm"][0]
    realtor_df
else: 
    raise Exception("the realtor dataframe has more than one date in it, it should only have one date. Please review...")

In [4]:
for column in realtor_df:
    if realtor_df[column].dtype == pd.StringDtype:
        realtor_df[column] = realtor_df[column].str.strip()

realtor_df

,county,month_date_yyyymm,county_fips,median_listing_price,active_listing_count,median_days_on_market,new_listing_count,price_increased_count,price_reduced_count,pending_listing_count,median_listing_price_per_square_foot,median_square_feet,average_listing_price,total_listing_count,pending_ratio,quality_flag,code,state
0,Madison,202209,19121,340225,44,60,16,2,22,26,227,1638,453055,72,0.5909,0,IA,Iowa
1,Cheyenne,202209,31033,195000,41,48,10,0,12,10,96,2076,219916,51,0.2317,0,NE,Nebraska
2,Cambria,202209,42021,118500,189,56,114,0,62,119,71,1537,143090,305,0.6313,0,PA,Pennsylvania
3,Shelby,202209,17173,127450,32,82,26,0,8,21,81,1601,169984,53,0.6563,0,IL,Illinois
4,Llano,202209,48299,794500,223,68,92,4,66,64,367,2158,1174167,286,0.2876,0,TX,Texas
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3110,Renville,202209,27129,149425,33,44,16,0,14,25,100,1547,179241,58,0.7424,0,MN,Minnesota
3111,Imperial,202209,6025,359900,151,48,106,0,60,115,207,1695,376257,265,0.7616,1,CA,California
3112,Weston,202209,56045,266750,40,62,6,0,2,9,118,2016,417080,49,0.2125,0,WY,Wyoming
3113,Dillingham,202209,2070,523750,5,72,0,0,0,<NA>,159,1800,492375,5,<NA>,1,AK,Alaska
3114,Hutchinson,202209,46067,143500,9,30,6,0,2,<NA>,83,1544,140829,9,<NA>,0,SD,South Dakota

In [6]:
# import datetime
# datetime = datetime.datetime.strptime(
#     as_of_month_year, "%Y%m").strftime("%b_%Y")

In [5]:
census_df['County'] = census_df['County'].str.replace("County", "")
census_df.head()

,County,State,Total:,Total:Population of one race:,Total:Population of one race:White alone,Total:Population of one race:Black or African American alone,Total:Population of one race:American Indian and Alaska Native alone,Total:Population of one race:Asian alone,Total:Population of one race:Native Hawaiian and Other Pacific Islander alone,Total:Population of one race:Some Other Race alone,Total:Population of two or more races:,Total:Hispanic or Latino
0,Autauga,Alabama,58805,55648,42160,11445,217,881,35,910,3157,2117
1,Baldwin,Alabama,231767,216743,189399,18217,1582,2067,143,5335,15024,12686
2,Barbour,Alabama,25223,24523,11317,11933,116,117,1,1039,700,1510
3,Bibb,Alabama,22293,21534,16555,4413,60,32,9,465,759,740
4,Blount,Alabama,59134,55478,50663,845,337,178,24,3431,3656,5771

In [6]:
census_df.columns = census_df.columns.str.lower().str.strip().str.replace(" ",
                                                                      "_").str.replace(":", "_").str.strip("_")

for column in census_df:
    if census_df[column].dtype == pd.StringDtype:
        census_df[column] = census_df[column].str.strip()

census_df.head()

,county,state,total,total_population_of_one_race,total_population_of_one_race_white_alone,total_population_of_one_race_black_or_african_american_alone,total_population_of_one_race_american_indian_and_alaska_native_alone,total_population_of_one_race_asian_alone,total_population_of_one_race_native_hawaiian_and_other_pacific_islander_alone,total_population_of_one_race_some_other_race_alone,total_population_of_two_or_more_races,total_hispanic_or_latino
0,Autauga,Alabama,58805,55648,42160,11445,217,881,35,910,3157,2117
1,Baldwin,Alabama,231767,216743,189399,18217,1582,2067,143,5335,15024,12686
2,Barbour,Alabama,25223,24523,11317,11933,116,117,1,1039,700,1510
3,Bibb,Alabama,22293,21534,16555,4413,60,32,9,465,759,740
4,Blount,Alabama,59134,55478,50663,845,337,178,24,3431,3656,5771

In [7]:
from sqlalchemy import create_engine 
from sqlalchemy_utils import database_exists, create_database
from postgres_credentials import alchemycred


engine= create_engine(alchemycred)
if not database_exists(engine.url):
    create_database(engine.url)

In [8]:
#constantly refreshes data when run 
realtor_df.to_sql("county_prices", engine, if_exists='replace')

#Does not refresh data once created. Data remains the same over time. 
census_df.to_sql("census_demographics", engine, if_exists='fail')

221